* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 17.5px 100px;
  background: linear-gradient(to top, #6d107e, #f03358);
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.circle,
.name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

@keyframes Orbita2 {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(540deg);
  }
}

.circle {
  animation: Orbita2 5s linear infinite;
}

.field {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  background-color: black;
  position: relative;
  border-radius: 10px;
}

.excel {
  width: 25px;
  height: 25px;
}

.snake_body {
  width: 25px;
  height: 25px;
  background: url(../img/snake_body.svg);
  background-size: cover;
  transform: rotate(90deg);
}

.snake_head {
  width: 25px;
  height: 25px;
  background: url(../img/snake_head.svg);
  background-size: cover;
}

.apple {
  background: url(../img/apple.svg);
  background-size: cover;
}

.out {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 330px;
  left: -345px;
  color: #1f1f58;
  font-size: 120px;
  text-align: center;
  line-height: 300px;
}

.btn {
  width: 100px;
  height: 70px;
  background: linear-gradient(to top, rgb(151, 21, 125), #1f1f58);
  position: absolute;
  top: 310px;
  right: -230px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  font-size: 20px;
}

.btn:hover {
  box-shadow: none;
}

.wrap {
  position: absolute;
  top: 195px;
  right: -100px;
  width: 70px;
  display: flex;
}

.speed {
  width: 50px;
  height: 50px;
  background: linear-gradient(to top, rgb(252, 0, 122), rgb(255, 0, 60));
  /* border: 1px solid black; */
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}

.speed:hover {
  box-shadow: none;
  transform: translateY(-10%);
}

.active {
  background: none;
  background: url(../img/fire.svg);
  background-size: cover;
}

.scoreTitle {
  position: absolute;
  top: 330px;
  left: -270px;
  font-size: 50px;
  color: #1f1f58;
}

.speedTitle {
  position: absolute;
  top: -76px;
  right: -155px;
  font-size: 50px;
  color: #1f1f58;
}

.buttons {
  display: none;
}

.reset {
  display: none;
}

.petr {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}

.res-table {
  width: 200px;
  min-height: 100px;
  position: fixed;
  top: 40px;
  left: 45px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f1f58;
}

.high-score::after {
  content: '';
  display: block;
  width: 160px;
  border-bottom: 5px solid #BEF761;
  margin-bottom: 20px;
  margin-top: 5px;
}


.high-score__num {
  overflow: hidden;
}

.high-score__num::after {
  content: '';
  display: block;
  width: 70px;
  border-bottom: 3px solid #BEF761;
  transform: translateX(-200px);
  transition: 0.3s all;

}

.high-score__num:hover::after {
  transform: translateX(45px);
}

/* /////////////////////////////////// MEDIA ////////////////////////////////// */

@media (max-width: 1024px) {
  body {
    padding-right: 100px;
  }

  .field {
    width: 510px;
    height: 510px;
    margin-top: 120px;
  }

  .excel {
    width: 21.25px;
    height: 21.25px;
  }

  .out {
    top: -190px;
    left: -105px;
    font-size: 80px;
  }

  .scoreTitle {
    top: -110px;
    left: 0;
    font-size: 30px;
  }

  .speedTitle {
    top: -40px;
    right: -230px;
    font-size: 30px;
  }

  .wrap {
    top: -70px;
    right: 230px;
  }

  .snake_body {
    width: 21.25px;
    height: 21.25px;
  }

  .snake_head {
    width: 21.25px;
    height: 21.25px;
  }

  .btn {
    display: none;
  }

  .reset {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -80px;
    right: -250px;
    transition: all 0.5s;
  }

  .reset:active {
    width: 40px;
    height: 40px;
  }

  .res-table {
    top: 150px;
    left: 4px;
  }

  .buttons {
    position: absolute;
    bottom: 190px;
    right: -300px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .buttons button {
    width: 120px;
    height: 70px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to top, rgb(151, 21, 125), #1f1f58);
    color: bisque;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
  }

  .buttons .begin .up {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .buttons .end .down {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .buttons .middle .right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .buttons .middle .left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .buttons {
    position: absolute;
    bottom: -235px;
    left: 0;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .reset {
    top: -80px;
    right: -100px;

  }

  .res-table {
    top: 150px;
    left: -35px;
    font-size: 15px;
  }

  .high-score::after {
    width: 100px;
    left: 20px;
    margin: 5px auto 10px auto;
  }

  @media (max-width: 576px) {
    body {
      margin: 0 auto;
    }

    .high-score__num {
      margin-bottom: -8px;
    }

    .res-table {
      top: 11px;
      left: -25px;
      position: absolute;
    }

    .field {
      width: 360px;
      height: 360px;
      margin-top: 160px;
    }

    .excel {
      width: 15px;
      height: 15px;
    }

    .out {
      top: -280px;
      left: 90px;
      font-size: 35px;
    }

    .scoreTitle {
      top: -139px;
      left: 160px;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .scoreTitle::after {
      content: '';
      display: block;
      width: 60px;
      border-bottom: 5px solid #BEF761;
      margin-top: 5px;
    }

    .speedTitle {
      top: -35px;
      right: -22px;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .speedTitle::after {
      content: '';
      display: block;
      width: 60px;
      border-bottom: 5px solid #BEF761;
      margin-top: 5px;

    }

    .wrap {
      top: -60px;
      right: 162px;
    }

    .speed {
      width: 40px;
      height: 40px;
      font-size: 13px;
    }

    .snake_body {
      width: 15px;
      height: 15px;
    }

    .snake_head {
      width: 15px;
      height: 15px;
    }

    .btn {
      display: none;
    }

    .reset {
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -135px;
      left: 310px;
      transition: all 0.5s;
    }

    .reset:active {
      width: 40px;
      height: 40px;
    }

    .buttons {
      position: absolute;
      bottom: -200px;
      left: 0;
      transform: translateX(-50%);
      width: 300px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .buttons button {
      width: 100px;
      height: 50px;
    }
  }
}